*.record
annotations/*.record
annotations/shards/*.record
annotations/shards-4fr/*.record
annotations/test_records/*.record
scripts/pre_procesing/Data/EPFL/*.record
scripts/pre_procesing/Data/EPFL/shards/*.record
annotations/test_records/*.record
scripts/pre_procesing/Data/EPFL/*.record


models/my_ssd_mobilenet_v1_lstm/checkpoints/*
pre-trained-models/*



